<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saját profil - site cím</title>
    <link rel="stylesheet" href="./css/check_profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script>
        function deleteUserAlert() {
            if (document.getElementById("del-user-checkbox").checked) {
                if (confirm("Ez egy visszafordíthatalan esemény. A törléshez nyomd meg az OK gombot.")) {
                    //NodeJS törlés backend átirányításs
                }
            }
        }
    </script>
</head>

<body>
    <%- include('navbar') %>

    <div class="user-data-container">
        <div class="read-user-data">
            <h1 class="container-header"><%=username%> adatok</h1>

            <table class="table table-striped data-table">
                <tr>
                    <td>E-mail: <%=email%></td>
                </tr>
                <tr>
                    <td>Vezetéknév: <%=surname%></td>
                </tr>
                <tr>
                    <td>Keresztnév: <%=firstname%></td>
                </tr>
                <tr>
                    <td>Regisztráció időpontja: <%=registration_date%></td>
                </tr>
                <tr>
                    <td>Kedvenc járatok db: kedvdb</td>
                </tr>
            </table>
        </div>

        <!--
        <div class="update-user-data">
            <form action="profile.html" method="post">
                <table class="table">
                    <tr>
                        <th colspan="2" class="table-header">Adatok módosítása(M4)</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" class="form-control">
                        </td>
                        <td>
                            <label for="email-re">E-mail újra</label>
                            <input type="email" name="email-re" id="email-re" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Jelszó</label>
                            <input type="password" name="password" id="password" class="form-control">
                        </td>
                        <td>
                            <label for="password-re">Jelszó újra</label>
                            <input type="password" name="password-re" id="password-re" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="surname">Vezetéknév</label>
                            <input type="text" name="surname" id="surname" class="form-control">
                        </td>
                        <td>
                            <label for="firstname">Keresztnév</label>
                            <input type="text" name="firstname" id="firstname" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Kitöltött adatok frissítése" class="btn btn-primary">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        -->
    </div>
    <div class="favorite-lines">
        <h1 class="fav-line-header">Kedvenc járatok</h1>

        <table class="fav-line-row">
            <tr>
                <td>Felszállás helye</td>
                <td>JáratID</td>
                <td>Leszállás helye</td>
                <td><button class="btn btn-primary">E-mailes értesítések kikapcsolása</button></td>
            </tr>

            <tr>
                <td>Indulási idő</td>
                <td>Indulás-érkezés hossz</td>
                <td>Érkezés idő</td>
                <td><button class="btn btn-primary">Járat törlése</button></td>
            </tr>
        </table>

        <table class="fav-line-row">
            <tr>
                <td>Felszállás helye</td>
                <td>JáratID</td>
                <td>Leszállás helye</td>
                <td><button class="btn btn-primary">E-mailes értesítések kikapcsolása</button></td>
            </tr>

            <tr>
                <td>Indulási idő</td>
                <td>Indulás-érkezés hossz</td>
                <td>Érkezés idő</td>
                <td><button class="btn btn-primary">Járat törlése</button></td>
            </tr>
        </table>
    </div>

    <!--
    <div class="delete-user">
        <h1 class="container-header">Profil törlése(M4)</h1>

        <form action="profile.html" method="post">
            <div class="form-check delete-user-check">
                <input type="checkbox" name="delete" id="del-user-checkbox" class="form-check-input" required>
                <label for="del-user-checkbox" class="form-check-label">Törölni szeretném a profilomat. Tudtában vagyok,
                    hogy ez
                    visszavonhatatlan.</label>
            </div>

            <input type="submit" value="Fiók törlése" class="btn btn-primary" onclick="deleteUserAlert()">
        </form>
    </div>
-->

<%- include('footer') %>
